@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.icon-fill {
  font-variation-settings: 'FILL' 1;
}
